@import "tailwindcss";

@theme {
  --color-text: #1F2937;
  --color-primary-100: #EEE3FF;
  --color-primary-600: #8054C7;
  --color-primary-700: #5A3696;
  --color-secondary-600: #63D838;
  --shadow-main: 0px 4px 60px 0px #0000000D;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}